body {
  min-height: 100%;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  padding: 10px;
}

.main-content{
  overflow-x: hidden;
  /* center main content */
  /*margin: 0 auto;
  width: 93%;*/
}

.container{
 /* center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid black;
}

.center{
    /*padding-top: 10%;*/
    /* center main content */
    /*margin: 0 auto;
    width: 93%;*/
}

.column{
  float: left;
  width: 50%;
  /*padding: 10px;
  height: 300px;*/
}

.row{
  content: "";
  display: table;
  clear: both;
}

.table{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
  text-align: center;
  text-decoration: none;
  color: #5F9EA0;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid #5F9EA0;
  margin: 5px;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
  color: white;
  background-color: #5F9EA0;
}


footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    text-align: center;
}
