extends layout

block content
  #banner.page-header
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
      a(href='/guestbook/add_review') Add Review
    .container(ng-controller="reviewListCtrl")
      .error {{ message }}
      .list-group
        .list-group-item(ng-repeat="review in data.reviews")
          h4
            p {{ review.name }}
            p {{ review.review }}
