extends layout

block content

  div(class='row')
    div(class='column') Hours
      p 9am to 6 pm Monday, Tuesday, Thursday
      p 9am to 5pm Friday
      p 9am to 2pm Saturday
      p Closed Wednesday, Sunday
    div(class='column') Location
      p Address
        p xxxx S. Parker Rd, Parker, CO
        p Southwest corner of Parker Rd. and Main Street

