extends layout

block content

  div.strapline
    //h1= pageHeader.title
    small &nbsp;#{pageHeader.strapline}

  div.container
    div.row
      div.column
        p Contact us by phone: 720 XXX XXXX 
        p Email us at: irinastailoring@checkthis.edu
    div.row
      div.column Hours 
        p Closed Wednesday, Sunday 
        p 9am to 6 pm Monday, Tuesday, Thursday 
        p 9am to 5pm Friday 
        p 9am to 2pm Saturday 
        p Closed on these holidays: Christmas, New Years, Memorial Day, 4th of July, and Labor Day
        p Especially for winter holidays, call us to check our hours because we close several days around that time.
      div.column Location 
        p Address 
          p xxxx S. Parker Rd, Parker, CO 
          p Southwest corner of Parker Rd. and Main Street

  div.links
    table.table
      thead
        td
          a(href='/services') Services and FAQ
        td
          a(href='/guestbook') Guestbook and Reviews
        td
          a(href='/about') About 
